/**
 * @name Furry World BLUE ORANGE
 * @version 1.0.0.0
 * @description Тема Discord от Furry World в стиле BLUE.
 * @author Рокки Лисиков
 * @website https://furry-world-rocky.ru
 * @donate https://donate.stream/furry_rocky
 * @invite nHtUFnW
 * @source https://github.com/Furry-World-Indy-Company/Discord-Theme/
 * @authorLink https://furry-world-rocky.ru/user/FURRY_ROCKY
 */

@import url(https://raw.githubusercontent.com/Furry-World-Indy-Company/Discord-Theme/main/css/BLUE_ORANGE.css);

:root {
	--app-bg: url(https://raw.githubusercontent.com/Furry-World-Indy-Company/Discord-Theme/main/images/fw2.jpg);
	--app-blur: 0px;
	--app-margin: 15px;
	--app-radius: 0px;
	
	--accent-hue: 30;
	--accent-saturation: 100%;
	--accent-lightness: 40%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.3);
	--main-content-color: rgba(0,0,0,0.3); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 0px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
